h3 {
    margin: 0px 0px 60px 660px;

}
.SN {
    margin: 0px 0px 0px 700px;
}
.yu img {
    width: 475px;
    margin: 130px 0px 60px 690px;
}
a {
    color: black;
}
.zak {
    margin: 0px 0px 60px 700px;
    
}
h2 {
    margin: 0px 0px 60px 780px;

}
ul {
    size: 100px;
}