h3 {
    margin: 0px 0px 60px 660px;

}
.SN {
    margin: 0px 0px 0px 300px;
}
.yu img {
    width: 475px;
    margin: 130px 0px 60px 690px;
}
a {
    color: black;
}
.zak {
    margin: 0px 0px -130px 600px;
    
}
h2 {
    margin: 0px 0px 60px 780px;

}
.zak ul {
    font-size: 25;
}
body {
    background-color: rgb(255, 255, 255);
}
hr {
    height: 5px;
    border-color: black;

}
/* From Uiverse.io by alexroumi */ 
button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
}
button{
    margin: 150px 0px 150px 780px;
}
.ht img {
    width: 1000;
    margin: 150px 0px 150px 0px;
}
.ht {
    display: flex;
    align-items: center;
    gap: 10 px;
}
.ht h2 {
    white-space: nowrap;
}
.ht {
    margin: 0px 0px 0px -400px;
}
.rt img {
    width: 400;
    margin: 150px 0px 150px 0px;
}
.rt {
    display: flex;
    align-items: center;
    gap: 280px;
}
.rt h2 {
    white-space: nowrap;
}
.rt {
    margin: 0px 0px 0px 290px;
}
.rt h2 {
    margin: 0px 0px 0px 50px;
}


.dt img {
    width: 400;
    margin: 150px 0px 150px 0px;
}
.dt {
    display: flex;
    align-items: center;
    gap: 280px;
}
.dt h2 {
    white-space: nowrap;
}
.dt {
    margin: 0px 0px 0px 290px;
}
.dt h2 {
    margin: 0px 0px 0px 50px;

}
.footer {
    position: absolute;
    text-align: center;
    padding: 15px;
    color:black;
    margin: 0px 0px 0px 850px;
}
