h3 {
    margin: 0px 0px 60px 660px;

}
.SN {
    margin: 0px 0px 0px 300px;
}
.yu img {
    width: 475px;
    margin: 130px 0px 60px 690px;
}
a {
    color: black;
}
.zak {
    margin: 0px 0px 60px 600px;
    
}
h2 {
    margin: 0px 0px 60px 780px;

}
.zak ul {
    font-size: 25;
}
body {
    background-color: Gray	;
}
hr {
    height: 5px;
    border-color: black;
}